<div class="container">
  <div class="row mt-4">
    <div class="col-sm m-1 mx-2 p-1 wh-100 d-flex align-items-center flex-column">
      <span class="pb-3">New</span>
      <app-tasks status="New"></app-tasks>
      
    </div>
    <div class="col-sm m-1 mx-2 p-1 wh-100 d-flex align-items-center flex-column">
      <span class="pb-3">In Progress</span>
      <app-tasks status="In Progress" ></app-tasks>
    </div>
    <div class="col-sm m-1 mx-2 p-1 wh-100 d-flex align-items-center flex-column">
      <span class="pb-3">Completed</span>
      <app-tasks status="Completed"></app-tasks>
    </div>
  </div>
